/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Open Sans  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* General styling */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

p {
  font-size: 1.618rem;
}

/* Header */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fdfdfe;
  color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.fixed-header .navbar {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  padding: 0.2rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed-header .navbar-links {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  /* display: none; */
}

.fixed-header .logo {
  width: 120px;
}

.fixed-header .navbar-links a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  padding: 12px 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #01203c;
}

.fixed-header .navbar-links a:hover {
  background-color: #d12c02;
  color: #fff;
}

.fixed-header .navbar-links .active {
  background-color: #d12c02;
  color: white;
}
